* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.social-media-container {
    background: #fff;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    color: #7c7b7b;
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.logo {
    width: 8rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(46% at 51% 54%);
}


.profile {
    align-self: center;
}

.username {
    font-size: 13px;
    margin-left: 10px;
}

.social-media-handles {
    padding: 12px 0px;
}

.twitter,
.linkedIn,
.github {
    padding: 0px 10px;
}

.details {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.posts,
.followers,
.following {
    padding: 15px 12px;
    font-size: 13px;

}

.posts>div,
.followers>div,
.following>div {
    font-weight: 600;
    font-size: 25px;
}

.btn {
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0 93 243 / 40%);
    /* margin: 0px 0px -17px 0px; */
    /* padding: 17px 114px; */
    background: #4e8df2;
    cursor: pointer;
    align-self: stretch
}

.btn>button {
    border: none;
    color: #fff;
    background: #4e8df2;
    font-weight: 600;
    /* box-shadow: 2px 2px 2px rgb(0 93 243 / 70%); */
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
    .btn {
        /* background: red; */
    }
}