* {
    padding: 0px 0px;
    margin: 0px 0px;
}

.formContainer {
    min-width: 50vh;
    min-height: 50vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #838383;
}

.logo {
    margin-top: 30px;
    border-radius: 50%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.signUp {
    margin: 15px 0px;
    font-weight: 500;
}

/* Css for the Form  */
.userForm {
    display: flex;
    flex-direction: column;
}

.form {
    font-weight: 600;
}

#name,
#userName,
#userEmail {
    margin: 14px 0px;
}

.name-input,
.userName-input,
.userEmail-input {
    border: none;
    padding-right: 30%;
    border-bottom: 2px solid #f09dbc;
    margin-top: 10px;
    outline: none;
    font-weight: 500;
}


/* Css for the Email container */



/* css for CreateAccount  button  */
.account {

    align-self: center;
}

.createAccount {
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ea427f, #f09dbc);
    margin: 34px;
    padding: 10px 28px;
    cursor: pointer;
}


@media only screen and (max-width:350px) {
    .formContainer {
        width: 37vh;
    }

    #name,
    #userName,
    #userEmail {
        margin: 14px 17px;
    }

    .name-input,
    .userName-input,
    .userEmail-input {
        padding: 3px 5px;
    }
}