.index{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* body{
  height: 100vh;
  background: linear-gradient(#d9daed 30% ,#d7b3b8 70%);
} */
/* body{
  height: 100vh;
  background: linear-gradient(#000 50% ,#dfbe00 50%);
} */
body{
  height: 100vh;
  background: #f1da56d4;
}